:root {
  --primary : #0da487;
  --white : #ffffff;
  --black : #000000;
  --primary : #0da487;
  --font_16: min(max(13px, calc(0.8125rem + (18 - 13) * ((100vw - 575px) / (1920 - 575)))), 18px);
  --font_24: min(max(14px, calc(0.875rem + (24 - 14) * ((100vw - 575px) / (1920 - 575)))), 24px);
}
body {
  font-family: "Public Sans";
  color: #222222;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

.container {
  max-width: 1620px !important;
}

::-moz-selection {
  background-color: var(--primary);
  color: white;
}

::selection {
  background-color: var(--primary);
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

.header_nav {
  background-color: var(--primary);
}

.header_nav a{
  color: var(--white) !important;
  font-size: var(--font_16) !important;
}
